__pycache__
.idea
envs
voiceprints
/model
ffmpeg-N-122425-g21a3e44fbe-win64-gpl-shared
server_venv
static
*.zip
config.py
hotwords.txt
list_devices.py
hearing/t.py
realtime_screen_analysis.log
realtime_screen_analysis.txt
realtime_screen_config.json
speaking/gptsovitsmodel
speaking/history_voice
speaking/temp_by
speaking/temp_by bines
speaking/temp_by bines 2.0
.vscode
thinking_venv
README_RAG_WEB.md
program_log.txt
@AutomationLog.txt
chroma_db_layered
memory_dynamic.json
memory_permanent.json
memory_short.json
moments_tools.log
qq_msg_buffer.json
qq_msg_private_buffer.json
saved_faces
*.pkl
v4
v8_world
v8m
v8n
coco.names
export_custom.py
visual/models/object_models/t.py
*.exe
DEPENDENCIES.md

node_modules
ts_ai_sdk_gateway/.env.example
.env.example
.env