smolagents
smolagents[openai]

langchain
langchain-openai
langchain-huggingface
langchain-chroma
chromadb
langchain_community
langgraph

e2b_code_interpreter

# env management
pydantic-settings

# for web search
ddgs
requests
httpx