smolagents
smolagents[openai]

langchain
langchain-openai
langchain[openai]
langchain-huggingface
langchain-chroma
chromadb
langchain_community
langgraph

openai

pydantic-settings

ddgs
requests
httpx
websocket-client

sentence-transformers