# Model List
MODEL_LIST='["deepseek-v4-flash","deepseek-v4-pro","mimo-v2.5","mimo-v2.5-pro"]'

# todo: MODEL TYPE INPUT: DEEPSEEK/MIMO
MODEL_SELECTED=mimo-v2.5


# MIMO
# OpenAI API URL
MIMO_API_URL=https://token-plan-sgp.xiaomimimo.com/v1
MIMO_API_KEY=

# DEEPSEEK
# OpenAI API URL
DEEPSEEK_API_URL=https://api.deepseek.com
# TEND TO MERGE TO SINGLE KEY
DEEPSEEK_API_KEY=

# RAG
RAG_EMBEDDING_MODEL=sentence-transformers/all-MiniLM-L6-v2
RAG_PERSIST_DIR=memory_data/chroma_db
HF_ENDPOINT=https://huggingface.co

# E2B SANDBOX APIKEY
E2B_API_KEY=

NAPCAT_WS_SERVER=ws://localhost:9998
NAPCAT_WS_TOKEN=